<footer class="footer">
  <div class="footer--container">
    <nav class="footer--nav">
      <ul class="footer--nav__list">
        <li>
          <a
            class="footer--nav__link"
            href="https://adalab.es/"
            target="_blank"
          >
            Articles</a
          >
        </li>
        <li>
          <a class="footer--nav__link" href="https://adalab.es/" target="_blank"
            >Books
          </a>
        </li>
        <li>
          <a class="footer--nav__link" href="https://adalab.es/" target="_blank"
            >Events</a
          >
        </li>
        <li>
          <a class="footer--nav__link" href="https://adalab.es/" target="_blank"
            >Reasons</a
          >
        </li>
        <li>
          <a class="footer--nav__link" href="https://adalab.es/" target="_blank"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="footer--nav social">
      <ul class="footer--nav__list">
        <li>
          <a class="footer--nav__link" href="https://adalab.es/" target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a class="footer--nav__link" href="https://adalab.es/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a class="footer--nav__link" href="https://adalab.es/" target="_blank"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer--copy">
      <small class="copy--small">©2017</small>
      <small class="copy--small"
        >we
        <span class="copy--small__icon">❤︎</span>
        components</small
      >
    </div>
  </div>
</footer>
