<header id="top" class="header--hero">
  <nav class="header--nav">
    <a href="https://adalab.es/" target="_blank">
      <img src="./assets/images/ico-menu.svg" alt="icon-menu"
    /></a>
  </nav>

  <h1 class="header--title" title="Anonymous Proxy" alt="Anonymous Proxy">
    <span class="header--title__block">anonymous</span>
    <span class="header--title__block">proxy</span>
  </h1>
  <h3
    class="header--subtitle"
    title="In hac habitasse platea dictumst."
    alt="In hac habitasse platea dictumst."
  >
    In hac habitasse platea dictumst. Testing
  </h3>

  <div class="header--icon__bottom">
    <a href="#reasons"
      ><img src="./assets/images/ico-scroll-down.svg" alt="scroll"
    /></a>
  </div>
</header>
