<section class="reasons">
  <h2 class="reasons--title" id="reasons" title="3 Reasons To Purchase">
    3 Reasons To Purchase
  </h2>
  <div class="reasons--container">
    <article>
      <h2 class="reasons--3reasons__title">Ut sed metus</h2>
      <p class="reasons--3reasons__description">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </article>
    <article>
      <h2 class="reasons--3reasons__title">Curabitur ac erat</h2>
      <p class="reasons--3reasons__description">
        Mauris mattis urna quis lorem molestie.
      </p>
    </article>
    <article>
      <h2 class="reasons--3reasons__title">Morbi dictum</h2>
      <p class="reasons--3reasons__description">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </article>
  </div>

  <div class="reasons--button">
    <a class="reasons--button__link" href="https://adalab.es/" target="_blank"
      >More reasons</a
    >
  </div>

  <div class="reasons--icon__bottom">
    <a href="#top"><img src="./assets/images/ico-arrow.svg" alt="go top" /></a>
  </div>
</section>
