// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;

// colors
$color-iceBlue: #eff9ff;
$color-darkBlue: #304268;
$color-lightBlue: #8ccbea;
$color-buttons: #f26002;
$color-main: black;
$color-secondary: white;
$color-menuTop: #0271bc;
$color-textSecondary: #4a4a4a;
