.reasons {
  background-color: $color-iceBlue;
  padding: 30px 0 15px;
  text-align: center;

  &--title {
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: $color-main;
  }

  &--container {
    display: grid;
    justify-items: center;
  }

  &--3reasons__title {
    font-family: $font-titles;
    @include textFontline();
    font-weight: bold;
    color: $color-main;
    margin-top: 45px;
    margin-bottom: 0;
  }

  &--3reasons__description {
    height: 63px;
    font-family: $font-main;
    @include textFontline();
    color: $color-textSecondary;
    padding: 0 70px;
  }

  &--button {
    width: 184px;
    height: 45px;
    font-family: $font-main;
    color: $color-secondary;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    border-radius: 22.5px;
    background-color: $color-buttons;
    margin: 45px auto 0;
  }

  &--button__link {
    text-decoration: none;
    color: inherit;
  }

  &--button:hover {
    color: $color-buttons;
    border: $color-buttons solid 2px;
    background-color: $color-secondary;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  &--icon__bottom {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 10px;
    background-color: white;
    margin: auto;
    transform: translate(0, 40px);
    animation-name: pulse;
    animation: pulse 3s infinite;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 $color-buttons;
  }
  70% {
    -webkit-box-shadow: 0 0 0 2px #f25e02;
  }
}

@media all and (min-width: 720px) {
  .reasons {
    padding: 30px 0 40px;

    &--title {
      font-size: 26px;
      line-height: 1.73;
      grid-row: 1;
      grid-column: span 3;
    }

    &--container {
      grid-template-columns: repeat(3, 210px);
      grid-template-rows: repeat(3, auto);
      grid-gap: 30px;
      margin: 0 40px;
      justify-content: center;
    }

    &--3reasons__title {
      height: 45px;
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 14px;
      margin-top: 0;
    }

    &--3reasons__description {
      height: 68px;
      font-size: 20px;
      line-height: 1.5;
      padding: 0;
    }

    &--button {
      width: 210px;
      height: 45px;
      margin: 30px auto 0;
      grid-area: button;
      grid-column: span 3;
      grid-row: 3;
    }

    &--icon__bottom {
      transform: translate(0, 65px);
    }
  }
}

@media all and (min-width: 1200px) {
  .reasons {
    padding: 60px 0 38px;

    &-title {
      font-size: 32px;
      line-height: 1.41;
    }

    &--container {
      grid-template-columns: repeat(3, 353.8px);
      grid-gap: 26px;
      grid-template-rows: 1fr;
      margin: 0 81.2px 0;
      justify-content: space-between;
    }

    &--3reasons__title {
      height: 30px;
      font-size: 24px;
      line-height: 1.25;
      margin: 45px 0 14px;
    }

    &--3reasons__description {
      font-size: 20px;
      line-height: 1.5;
      padding: 0 10px;
    }

    &--button {
      width: 255px;
      height: 45px;
      margin: 34px auto 0;
    }
    &--icon__bottom {
      transform: translate(0, 65px);
    }
  }
}
