@import "core/variables";
@import "core/reset";

.header--hero {
  height: 100vh;
  background: url(../images/cover.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.header--nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--title__block {
  display: block;
}

.header--title {
  padding: 284px 15px 10px 15px;
  font-family: $font-titles;
  font-size: 42px;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.header--subtitle {
  height: 21px;
  font-family: $font-main;
  font-size: 16px;
  text-align: center;
  margin-bottom: 45px;
  color: white;
}

.header--icon__bottom {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding-left: 12px;
  background-color: white;
  display: flex;
  align-items: center;
}

// TIPS SECTION //

.tips {
  margin: 30px 39px 45px 39px;
}

.tips--small {
  font-family: $font-main;
  color: $color-lightBlue;
  width: 90px;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: normal;
  margin-top: 30px;
}

.tips--title {
  width: 290px;
  height: 60px;
  font-family: $font-titles;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: $color-main;
  text-transform: capitalize;
}

.tips--description {
  margin: 15px 0 30px;
  font-family: $font-main;
  font-size: 18px;
  line-height: 1.67;
  color: $color-textSecondary;
}

.tips--button {
  width: 76px;
  height: 45px;
  font-family: $font-main;
  color: $color-buttons;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  border: $color-buttons solid 3px;
  padding: 0 25px 0 26px;
  border-radius: 22.5px;
  background-color: transparent;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tips--button__link {
  text-decoration: none;
  color: inherit;
}

.tips--button:hover {
  background: $color-buttons;
  color: $color-secondary;
  border: $color-secondary solid 3px;
}

// REASONS SECTION //

.reasons {
  background-color: $color-iceBlue;
  padding-top: 30px;
  text-align: center;
}

.reasons--title {
  font-family: $font-titles;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: $color-main;
  margin: 0 0 45px;
}

.reasons--container {
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr;
  padding: 0 70px 60px 70px;
}

.reasons--3reasons {
  height: 30px;
  font-family: $font-titles;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: $color-main;
}

.reasons--3reasons__description {
  height: 63px;
  font-family: $font-main;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: $color-textSecondary;
  margin-bottom: 45px;
}

.reasons--button {
  width: 184px;
  height: 45px;
  font-family: $font-main;
  color: $color-secondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  border-radius: 22.5px;
  background-color: $color-buttons;
  margin: auto;
}

.reasons--button__link {
  text-decoration: none;
  color: inherit;
}

.reasons--button:hover {
  background: $color-buttons;
  color: $color-secondary;
  border: $color-secondary solid 3px;
}

.reasons--icon__bottom {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding-top: 10px;
  background-color: white;
  margin: auto;
  transform: translate(0, 23px);
}

// FOOTER //

.footer {
  height: 465px;
  background-color: $color-darkBlue;
  padding-top: 60px;
}

.footer--nav {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: $color-secondary;
  margin-bottom: 30px;
}

.footer--nav__list {
  list-style-type: none;
  text-transform: uppercase;
}

.footer--nav__link {
  text-decoration: none;
  color: inherit;
}

.footer--copy {
  font-family: $font-main;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: $color-secondary;
}

.footer--icon {
  color: red;
}
