@import "core/variables";
@import "core/reset";

.header--hero {
  height: 100vh;
  background: url(../images/cover.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.header--nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--title__block {
  display: block;
}

.header--title {
  padding: 284px 15px 10px 15px;
  font-family: $font-titles;
  font-size: 42px;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.header--subtitle {
  height: 21px;
  font-family: $font-main;
  font-size: 16px;
  text-align: center;
  margin-bottom: 45px;
  color: white;
}

.header--icon__bottom {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding-left: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

// TIPS SECTION //

.tips {
  margin: 30px 15px 45px 15px;
}

.tips--small {
  font-family: $font-main;
  color: $color-lightBlue;
  width: 90px;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: normal;
  margin-top: 30px;
}

.tips--title {
  width: 290px;
  height: 60px;
  font-family: $font-titles;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: $color-main;
  text-transform: capitalize;
}

.tips--description {
  margin: 15px 0 30px;
  font-family: $font-main;
  font-size: 18px;
  line-height: 1.67;
  color: $color-textSecondary;
}

.tips--button {
  width: 76px;
  height: 45px;
  font-family: $font-main;
  color: $color-buttons;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  border: $color-buttons solid 2px;
  padding: 0 25px 0 26px;
  border-radius: 22.5px;
  background-color: transparent;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tips--button__link {
  text-decoration: none;
  color: inherit;
  transition: width 1s;
}

.tips--button:hover {
  background: $color-buttons;
  color: $color-secondary;
  border: $color-secondary solid 3px;
  transition: 1s;
  width: 60px;
  transform: rotate(1turn);
}

// REASONS SECTION //

.reasons {
  background-color: $color-iceBlue;
  padding: 30px 0 15px;
  text-align: center;
}

.reasons--title {
  font-family: $font-titles;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: $color-main;
}

.reasons--container {
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr;
  padding: 0 70px 0 70px;
}

.reasons--3reasons__title {
  height: 30px;
  font-family: $font-titles;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: $color-main;
  margin-top: 45px;
}

.reasons--3reasons__description {
  height: 63px;
  font-family: $font-main;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: $color-textSecondary;
}

.reasons--button {
  width: 184px;
  height: 45px;
  font-family: $font-main;
  color: $color-secondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  border-radius: 22.5px;
  background-color: $color-buttons;
  margin: 45px auto 0;
}

.reasons--button__link {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-in-out;
}

.reasons--button:hover {
  color: $color-buttons;
  border: $color-buttons solid 2px;
  background-color: $color-secondary;
  transform: scale(1.1);
}

.reasons--icon__bottom {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding-top: 10px;
  background-color: white;
  margin: auto;
  transform: translate(0, 40px);
  animation-name: pulse;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 $color-buttons;
  }
  70% {
    -webkit-box-shadow: 0 0 0 2px #f25e02;
  }
}

// FOOTER //

.footer {
  height: 465px;
  background-color: $color-darkBlue;
  padding: 60px 0 45px;
}

.footer--nav {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: $color-secondary;
  margin-bottom: 30px;
}

.footer--nav__list {
  list-style-type: none;
  text-transform: uppercase;
}

.footer--nav__link {
  text-decoration: none;
  color: inherit;
}

.footer--copy {
  font-family: $font-main;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.copy--small__icon {
  color: red;
}

@media all and (min-width: 720px) {
  .header--title {
    font-size: 80px;
    line-height: 1.33;
    width: 690px;
    margin: 340px 0 20px 39px;
  }

  .header--subtitle {
    height: 32px;
    font-family: $font-main;
    font-size: 24px;
    width: 360px;
    margin: 20px 165px 30px 160px;
  }
  .header--icon__bottom {
    margin: 0 auto 45px;
    align-items: normal;
    padding-top: 15px;
  }

  // TIPS SECTION //
  .tips {
    margin: 30px 39px 60px;
  }

  .tips--title {
    width: 690px;
    height: 45px;
    font-family: $font-titles;
    font-size: 26px;
    line-height: 1.73;
  }

  .tips--description {
    width: 690px;
    height: 60px;
    font-size: 20px;
    line-height: 1.5;
    padding-right: 30px 39px 0;
  }
  .tips--button {
    width: 91px;
    height: 45px;
  }

  // REASONS SECTION //
  .reasons {
    padding: 30px 0 40px;
  }

  .reasons--title {
    font-size: 26px;
    line-height: 1.73;
  }

  .reasons--container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 27px;
    grid-template-rows: 1fr;
    padding: 30px 39px 0 35px;
  }

  .reasons--3reasons__title {
    height: 45px;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 30px;
  }

  .reasons--3reasons__description {
    height: 68px;
    font-size: 20px;
    line-height: 1.5;
  }

  .reasons--button {
    width: 210px;
    height: 45px;
    margin: 45px auto 0;
  }
  .reasons--icon__bottom {
    transform: translate(0, 65px);
  }
  // FOOTER//

  .footer {
    padding: 45px 39px 45px;
    height: 240px;
  }
  .footer--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer--nav {
    text-align: left;
    width: 210px;
  }

  .footer--copy {
    order: -1;
    text-align: left;
    width: 210px;
  }

  .reasons--icon__bottom {
    transform: translate(0, 65px);
  }
}
